@import url('https://fonts.googleapis.com/css2?family=Rubik:ital,wght@0,300;0,400;0,700;1,800&display=swap');


* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    
}
body
{
    font-family: 'Rubik', sans-serif;
    
}

nav {
    
    background: rgba(255, 255, 255, 0.95);
    display: flex;
    justify-content: space-between;
    min-height: 10vh;
    width: 100%;
    align-items: center;
    position: sticky;
    top: 0;
    z-index:99999;
}

.logo-text
{
    height: 100px;  
    width: auto;
    content: "";
    position: relative;
    display: flex;
    margin-left: 10vw;
    justify-content: space-around;
    align-items: center;
}
.logo-text .navbar-logo
{
    height: 60%;   
    width: 20vh;
    display: flex;
    align-items: baseline;
    font-size: 1.5rem;
    color: #46b704;
}
.logo-text .navbar-logo span{
    font-size: 3rem;
    transform: translateY(2px);
}
.navbar-links
{
    padding-right: 40px;
    display: flex;
    justify-content: space-around;
    height: 10vh;   
    min-width: 40%;
    align-items: center; 
}

.navbar-items
{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 3vw;
    text-decoration: none;
    font-size: 18px;
    transition: 0.4s ease;
    color: black;
    font-weight: 300;
    text-align: center;
}

.navbar-items:hover
{
    transform: scale(1.2);

}
.active
{
    transform: scale(1.1);
    color: #7FB704;
}

.navbar-hover-lines
{
    width: 0;
    height: 2px;
    background-color: #7FB704;
    transition: 0.7s ;
}

.navbar-items:hover .navbar-hover-lines
{
    
    width: 8vh;
    height: 2px;

}

















@media(max-width: 900px)
{
    .navbar-links
{
    padding-right: 40px;
    display: flex;
    justify-content: space-around;
    height: 10vh;   
    min-width: 60%;
    align-items: center; 
}

}

















@media (max-width: 480px)
{
    nav {
    
        background: rgba(255, 255, 255, 0.95);
        display: flex;
        justify-content: space-between;
        min-height: 12vh;
        width: 100%;
        align-items: center;
        position: relative;
    }
    .main-navbar
    {
        padding: 10px;
        width: 100%;
        max-height: 22vh;
        display: flex;
        flex-direction: column;   
        align-items: center;
    
        justify-content: center;  
    }

    .main-navbar-close
    {
        width: 100%;
        display: flex;
        flex-direction: column;
    }
    .navbar-logo
    {
        display: inline-block;
        min-height: 100%;
        width: auto;
    }


    .navbar-links
    {
        display: none;
    }
    .navbar-links-after
    {
        display: flex;
        justify-content: space-around;
        flex-direction: column;
        max-height: 200px;
        transition: max-height 5s;
        align-content: space-around;
    }

    .navbar-items
    {
        text-align: center;
        width: 100%;
        height: 5vh;
    }

  
    .active
{
    transform: scale(1.1);
    color: #7FB704;
}


    .navbar-items:hover
        {    
            transition: 0.5s;
        }    
        
    .logo-text
    {
        padding: 10px;
        margin-left: 0px !important;
        position: absolute;
        height: 80px;  
        width: 100%;
        display: flex;
        justify-content: center;
        align-items: center;
        content: "";
        position: relative;
        margin-left: 5vw;
    }
    
    .menu-btn
    {
        position: relative;
        display: flex;
        align-items: center;
        height: 20px;
        width:  20px;
        cursor: pointer;
        transition: all  0.5s ease-in-out;
    }
    
    .check-button-close
    {
        width: 80%;
        height: 2px;
        background-color: rgb(0, 0, 0);
        border-radius: 100px;
        transition: all .5s ease-in-out;
    }

    .menu-btn:hover .check-button-close
    {
        width: 80%;
        height: 2px;
        background-color: rgb(0, 0, 0);
        border-radius: 100px;
        transition: all .5s ease-in-out;
    }

    .check-button-close::before,.check-button-close::after
    {
        content: "";
        position: absolute;
        width: 50%;
        height: 2px;
        background-color: rgb(0, 0, 0);
        border-radius: 100px;
        transition: all 0.5s ease-in-out;
    }

    .menu-btn:hover .check-button-close::before
    {
        content: "";
        position: absolute;
        width: 80%;
        height: 2px;
        background-color: rgb(0, 0, 0);
        border-radius: 100px;
    }
    .menu-btn:hover .check-button-close::after
    {
        content: "";
        position: absolute;
        width: 80%;
        height: 2px;
        background-color: rgb(0, 0, 0);
        border-radius: 100px;
    }
    
    .check-button-close::before
    {
        transform: translateY(-5px);
    }
    .check-button-close::after
    {
        transform: translateY(5px);
    }     

    .check-button-open
    {
        width: 0%;
        height: 2px;
        background-color: rgb(0, 0, 0);
        border-radius: 100px;
        transition: all .5s ease-in-out;
    }
    .check-button-open::before,.check-button-open::after
    {
        content: "";
        position: absolute;
        width: 80%;
        height: 2px;
        background-color: rgb(0, 0, 0);
        border-radius: 100px;
        transition: all 0.5s ease-in-out;
    }
    .check-button-open::before
    {
        transform: translateY(0px);
        transform: rotate(45deg);
    }
    .check-button-open::after
    {
        transform: translateY(0px);
        transform: rotate(-45deg);
    }     
}
    
    
    